<div class="bform">
<h4>Add a Branch</h4>
<p></p>
<%= form_for :branch do |f|%>
ifsc <%= f.text_field  "ifsc", "ifsc" => 14 %>
phone number <%= f.text_field  "number", "number" => 10 %>
street <%= f.text_field  "street", "street" => 20 %>
city <%= f.text_field  "city", "city" => 20 %>
state <%= f.text_field  "state", "state" => 20 %>
pincode <%= f.text_field  "pincode", "pincode" => 20 %>
<%= f.submit %>
<%end%>
<%=link_to "Cancel", root_path%>
</div>